<%= render 'header' %>
<h3>Home</h3>
<% @results.reverse.each do |result| %>
  <p class="dropdown">
    <a href=""><i class="icon-chevron-right icon-white"></i><%= result['name'] %></a>
    on <%= result['commit'] %>
    <span class="badge badge-success"><%= result['overall']['passed'] %></span>
    <span class=""><%= result_diff(result['overall']['passed'], result['prev_overall']['passed']) %>
    <span class="badge badge-warning"><%= result['overall']['warning'] %></span>
    <span class=""><%= result_diff(result['overall']['warning'], result['prev_overall']['warning']) %>
    <span class="badge badge-important"><%= result['overall']['error'] %></span>
    <span class=""><%= result_diff(result['overall']['error'], result['prev_overall']['error']) %>
  </p>
  <div class="testrun_desc">
    <table>
      <tr>
        <td>Start time:</td>
        <td><%= DateTime.parse(result['start_time']).strftime("%d.%m.%Y %H:%M:%S") %></td>
      </tr>
      <tr>
        <td>Duration:</td>
        <td><%= time_diff(result['start_time'],result['end_time']) %></td>
      </tr>
      <tr>
        <td>Commit:</td>
        <td><a href="https://github.com/openframeworks/openFrameworks/commit/<%= result['commit'] %>"><%= result['commit'] %></a> (develop)</td>
      </tr>
      <tr>
        <td>Complete log:</td>
        <td><a href="<%= "testruns/#{result['name']}/#{result['name']}.tar.bz2" %>">Download</a> (bzipped JSON, <%= result['complete_log_file_size'] %>k)</td>
      </tr>
    </table>
    <h3><a href="<%= "testruns/#{result['name']}/" %>">Show Details</a>
    <h3>Matrix</h3>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Operation System</th>
          <th>Results</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% result['systems'].each do |system| %>
          <tr>
            <td>
              <a href="<%= "testruns/#{result['name']}/#{system['name']}/" %>"><%= system['pretty_name'] %></a>
            </td>
            <td>
              <span class="badge badge-success"><%= system['overall']['passed'] %></span>
              <span class="badge badge-warning"><%= system['overall']['warning'] %></span>
              <span class="badge badge-important"><%= system['overall']['error'] %></span>
            </td>
            <td><a href="<%= "testruns/#{result['name']}/#{system['name']}/" %>"><i class="icon-search"></i></a></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
<%= render 'footer' %>
