<%= render 'header' %>
<h3><a href="../../">Home</a> / <%= @result['name'] %></h3>
<table class="table table-bordered table-striped">
  <tr>
    <td>Start time:</td>
    <td><%= DateTime.parse(@result['start_time']).strftime("%d.%m.%Y %H:%M:%S") %></td>
  </tr>
  <tr>
    <td>Duration:</td>
    <td><%= time_diff(@result['start_time'],@result['end_time']) %></td>
  </tr>
  <tr>
    <td>Bad Line Count*:</td>
    <td><%= @result['bad_line_count'] %></td>
  </tr>
  <tr>
    <td>Commit:</td>
    <td><a href="https://github.com/openframeworks/openFrameworks/commit/<%= @result['commit'] %>"><%= @result['commit'] %></a> (develop)</td>
  </tr>
  <tr>
    <td>Complete log:</td>
    <td><a href="<%= "#{@result['name']}.tar.bz2" %>">Download</a> (bzipped JSON, <%= @result['complete_log_file_size'] %>k)</td>
  </tr>
</table>
<h3>Matrix</h3>
<table class="table table-bordered table-striped fixed-td">
  <thead>
    <tr>
      <th>Operation System</th>
      <th>Tests (passed / with warnings / with error)</th>
      <th>Bad Line Count*</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @result['systems'].each do |system| %>
      <tr>
        <td>
          <a href="<%= "#{system['name']}/" %>"><%= system['pretty_name'] %></a>
        </td>
        <td>
          <span class="badge badge-success"><%= system['overall']['passed'] %></span>
          <span class="badge badge-warning"><%= system['overall']['warning'] %></span>
          <span class="badge badge-important"><%= system['overall']['error'] %></span>
        </td>
        <td><%= system['bad_line_count'] %></td>
        <td><a href="<%= "#{system['name']}/" %>"><i class="icon-search"></i></a></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div style="text-align:right;font-size:80%;">
  <p>* Bad Lines = Lines with warnings + Lines with errors</p>
</div>
<h3>openFrameworks lib &amp; install scripts</h3>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Test</th>
      <% @result['systems'].each do |system| %>
        <th><%= system['pretty_name'] %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @result['test_names'].map{|n| n if n.match(/\.sh/) or n.match(/lib/) or n.match(/projectGenerator/)}.compact.each do |test| %>
      <tr>
        <td>
          <%= test %></a>
        </td>
        <%
          @result['systems'].each do |system|

            out = ""

            system['tests'].each do |t|
              if t['name'] == test
                out = '<td><a href="'+system['name']+'/tests/'+test+'"><span class="badge badge-'
                out += 'success' if t['status'] == 'passed'
                out += 'warning' if t['status'] == 'warning'
                out += 'important' if t['status'] == 'error'
                out += '">&nbsp;</span></a></td>'
              end
            end

            out = '<td><span class="badge">&nbsp;</span></td>' if out == ''
            %>
            <%= out %>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<h3>Examples</h3>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Test</th>
      <% @result['systems'].each do |system| %>
        <th><%= system['pretty_name'] %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @result['test_names'].map{|n| n unless n.match(/\.sh/) or n.match(/lib/) or n.match(/projectGenerator/)}.compact.each do |test| %>
      <tr>
        <td>
          <%= test %></a>
        </td>
        <%
          @result['systems'].each do |system|

            out = ""

            system['tests'].each do |t|
              if t['name'] == test
                out = '<td><a href="'+system['name']+'/tests/'+test+'">'
                out += '<span class="badge badge-success">&nbsp;</span>' if t['status'] == 'passed'
                out += '<span class="badge badge-warning">&nbsp;</span>' if t['status'] == 'warning'
                out += '<span class="badge badge-important">&nbsp;</span>' if t['status'] == 'error'
                out += '</a></td>'
              end
            end

            out = '<td>&nbsp;</td>' if out == ''
            %>
            <%= out %>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= render 'footer' %>
