<%= render 'header' %>
  <h3><%= @name %> on <%= @system['name'].gsub('vagrant-','').gsub('-', ' ').capitalize %></h3>
  <table>
    <thead>
      <tr>
        <th>Test</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @system['tests'].each do |test| %>
        <tr>
          <td><a href="tests/<%= test['name'] %>/"><%= test['name'] %></a></td>
          <td class="<%= test['status'] %>"><%= test['status'] %></td>
          <td><a href=""><i class="icon-search"></i></a></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<%= render 'footer' %>
