<%= render 'header' %>
  <h3><a href="../../../">Home</a> / <a href="../"><%= @name %></a> / <%= @system['pretty_name'] %></h3>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Test</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @system['tests'].each do |test| %>
        <tr>
          <td><a href="tests/<%= test['name'] %>/"><%= test['name'] %></a></td>
          <td class="<%= test['status'] %>"><%= test['status'] %></td>
          <td><a href="tests/<%= test['name'] %>/"><i class="icon-search"></i></a></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<%= render 'footer' %>
