<%= render 'header' %>
  <h3>
    <a href="../../../../../">Home</a> /
    <a href="../../../"><%= @name %></a> /
    <a href="../../"><%= @system['name'] %></a> /
    <%= @test['name'] %>
  </h3>

  <table style="width:50%;" class="table-bordered">
    <tr>
      <td><span style="font-weight:bold;">Status</a></td>
      <td><span class="<%= @test['status'] %>"><%= @test['status'].upcase %></span></td>
    </tr>
  </table>
  <div style="text-align: right;width:100%;">
    Show: <span id="show_only_errors"><a href="#">Only Errors</a></span> | <span id="show_no_errors"><a href="#">No Errors</a></span> | <span id="show_everything">Everything</span>
  </div>
  <div class="highlight">
    <table>
      <tbody>
        <%= print_log @commit, @test['category'], @test['name'], @test['log_complete'], @test['log_error'] %>
      </tbody>
    </table>
  </div>
<%= render 'footer' %>
