<%= render 'header' %>
  <h3><%= @test['name'] %> for <%= @name %> on <%= @system['name'].gsub('vagrant-','').gsub('-', ' ').capitalize %></h3>
  <div class="highlight">
    <pre><%= @test['log_complete'].map{|line| line = @test['log_error'].include?(line) ? "<span class=\"line error\">#{line}</span>" : line}.join %></pre>
  </div>
<%= render 'footer' %>
