<%= render 'header' %>
  <h3>
    <a href="../../../../../">Home</a> /
    <a href="../../../"><%= @name %></a> /
    <a href="../../"><%= @system['pretty_name'] %></a> /
    <%= @test['name'] %>
  </h3>
  <table style="width:50%;" class="table-bordered">
    <tr>
      <td><span style="font-weight:bold;">Status</a></td>
      <td><span class="<%= @test['status'] %>"><%= @test['status'].upcase %></span></td>
    </tr>
  </table>
  <style>
  </style>
  <div class="highlight">
    <table>
      <tbody>
        <%= print_log @test['log_complete'], @test['log_error'] %>
      </tbody>
    </table>
  </div>
<%= render 'footer' %>
